<!-- templates/produit/afficher_par_categorie.html.twig -->

{% include 'includes/navbar.html.twig' %}
    <link rel="stylesheet" href="{{ asset('css/produits.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

{% block body %}
    <h1>Liste des Produits de la catégorie {{ categorie }}</h1>

    <div class="container">
        {% for produit in produits %}
            <div class="produit">
                <a href="{{ path('produit_show', {'id': produit.id}) }}">
                    <img src="{{ asset('images/' ~ produit.image) }}" alt="{{ produit.nom }}">
                    <div class="produit-info">
                        <div class="produit-nom">{{ produit.nom }}</div>
                        <div class="produit-description">{{ produit.description }}</div>
                        <div class="produit-prix">{{ produit.prix }} €</div>
                        <button class="ajouter-panier" data-id="{{ produit.id }}">Ajouter au panier</button>

                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<footer>
        {% block footer %}
            {% include 'produit/footer.html.twig' %}       
        {% endblock %}
    </footer>