{# templates/produit/search_results.html.twig #}

{% include 'includes/navbar.html.twig' %}
<link rel="stylesheet" href="{{ asset('css/produits.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

{% block body %}
    {% if produits is not empty %}
        <h1>Résultats de la recherche pour "{{ productName }}" :</h1>

        <div class="container">
            {% for produit in produits %}
                <div class="produit">
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">
                        <img src="{{ asset('images/' ~ produit.image) }}" alt="{{ produit.nom }}">
                        <div class="produit-info">
                            <div class="produit-nom">{{ produit.nom }}</div>
                            <div class="produit-description">{{ produit.description }}</div>
                            <div class="produit-prix">{{ produit.prix }}€</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun résultat trouvé pour "{{ productName }}".</p>
    {% endif %}
{% endblock %}
