{% include 'includes/navbar.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/produits.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <div class="container">
        <div class="produit-detail">
            <img src="{{ asset('images/' ~ produit.image) }}" alt="{{ produit.nom }}">
            <div class="produit-info">
                <div class="produit-nom">{{ produit.nom }}</div>
                <div class="produit-description">{{ produit.description }}</div>
                <div class="produit-prix">{{ produit.prix }}€</div>
            </div>
        </div>
    </div>
{% endblock %}
